/* Layout */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Banner */
.banner {
  position: relative;
  text-align: center;
  color: var(--text-color);
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: var(--primary-color);
}

/* Home Content */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.home-content section {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
  text-align: center;
}

.home-content p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.about-us,
.our-mission,
.how-it-works {
  margin-bottom: 40px;
}

/* Header */
header {
  background-color: var(--trim-color);
  color: var(--text-color);
  padding: 10px 0;
  margin-bottom: 20px;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Main Content */
main {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: var(--trim-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}

.footer-nav ul {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}

.footer-nav ul li {
  display: inline;
  margin-right: 15px;
}

.footer-nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}
