.library-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.library-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  border: 1px solid var(--trim-color);
  border-radius: 5px 0 0 5px;
}

.search-form input.search-bar {
  margin: 0;
}

.search-form button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--primary-color);
}

/* Books Grid */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 12rem;
  height: 18rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Pagination */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 5px;
  text-decoration: none;
}

.pagination a.active {
  background-color: var(--primary-color);
}

.pagination a:hover {
  background-color: var(--secondary-color);
}

.no-results {
  text-align: center;
  font-size: 1.5em;
  color: var(--secondary-color);
  margin: 40px 0;
}
